// To Compile run 'gulp watchclay'

#clay-mod-blacklist-form {
	input[type=text] {
		width: 100px;
		height:20px;
	}
	input[type=submit] {
		border-radius: 0;
		margin-left: 20px;
		margin-top:8px;
	}
	label {
		float: left;
		padding-right: 10px;
		margin-top: 4px;
	}
	.form-item {
		float: left;
		padding-left: 20px;
	}
}
.formLeft {
	float:left;
	width: 20%;
}
.formRight {
	float:left;
	width: 75%;
}
.formBottom {
	clear:both;
	margin-top:20px;
	position: absolute;
	bottom: 180px;
}
fieldset.filter-wrapper {
	margin-top: -20px !important;
	padding-top: 25px !important;
}
a.ckeditor_links {
	margin-left: 10px;
	position:relative;
	z-index: 100;
}
.formText {
	color: red;
	margin-top:10px;
}